.background {
  background: url("./images/bg-xl.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
@media screen and (max-width: 1650px) {
  .background {
    background: url("./images/bg-l.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 1350px) {
  .background {
    background: url("./images/bg-md.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 760px) {
  .background {
    background: url("./images/bg-xs.svg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.button-background {
  background: url("./images/button-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -4px;
  height: 100%;
  width: 100%;
}
