html {
  height: 100vh !important;
}
.background {
  background: url("../src/assets/background/er-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9f51fe;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9f51fe;
  border-radius: 2px;
}
.score-btn-bg {
  background: url("./images/score-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0px;
  height: 100%;
  width: 100%;
}

.dashboard-question-bg {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 13px 13px 57px rgba(0, 0, 0, 0.5),
    inset -13px -13px 57px rgba(253, 158, 94, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
.dashboard-input-bg {
  background: url("./images/dashboard-input.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0px;
  height: 100%;
  width: 100%;
}

.badge-bg {
  background: rgba(30, 26, 36, 0.7);
  backdrop-filter: blur(10px);
}

.navborder {
  background: rgba(127, 112, 255, 0.22);
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 16px 32px;
  width: 100%;
}

.dashboard-bg {
  background: url("./assets/background/dashboard-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1650px) {
}
@media screen and (max-width: 1350px) {
  .logout-btn-bg {
    background: url("./assets/background/logout-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  /* .background {
    background: url("./images/bg-xs.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  } */
  .dashboard-bg {
    background: url("./assets/background/dashboard-bg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logout-btn-bg {
    background: url("./assets/background/logout-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0px;
    height: 100%;
    width: 100%;
  }
}

.button-background {
  background: url("./images/button-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -4px;
  height: 100%;
  width: 100%;
}
.glow {
  filter: drop-shadow(0px 0px 13px #fcbb48);
}
.clock-background {
  background: url("./images/button-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -4px;
  height: 100%;
}

.button-background-form {
  background: url("./images/button-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.button-background-login {
  width: 129px;
  background-position-y: 1px;
}

.button-background-register {
  width: 189px;
  background-position-y: -6px;
}

.button-background-paynow {
  width: 230px;
  background-position-y: -6px;
}

.input-background {
  background-color: #e8e5ff;
  padding: 17px 23px;
  border-radius: 16px;
}

.button-bg {
  background: url("./assets/background/button-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 4px;
  height: 90px;
  width: 208px;
}

.form-button {
  background: url("./assets/background/button-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 2px;
  height: 90px;
  width: 208px;
}

.submit-button {
  background: url("./assets/background/submit-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 2px;
  padding-top: 10px;
  height: 64px;
  width: 157px;
}

.avatar-select {
  /* background-color: #663d14; */
  background: url("./images/avatar-bg.svg");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-position-y: -8px; */
  height: 100%;
  width: 100%;
}

html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
/* :root {
  --darkOrange: #ffa43e;
  --brown: #663d14;
} */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--darkOrange);
  border-radius: 10px;
} */
::selection {
  color: var(--brown);
  background: var(--darkOrange);
}
@font-face {
  font-family: Titillium-bold;
  src: url("../src/assets/fonts/TitilliumWeb-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: Titillium-semi;
  src: url("../src/assets/fonts/TitilliumWeb-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Titillium-medium;
  src: url("../src/assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Titillium-regular;
  src: url("../src/assets/fonts/TitilliumWeb-Regular.ttf");
  font-display: swap;
}
.font-bold {
  margin: 0;
  font-family: Titillium-bold !important;
}
.font-demi {
  margin: 0;
  font-family: Titillium-semi;
}
.font-medium {
  margin: 0;
  font-family: Titillium-medium;
}
.font-regular {
  margin: 0;
  font-family: Titillium-regular;
}
.main-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.blur-background {
  min-width: 450px;
  height: auto;
  background-image: linear-gradient(#6554f2, #7160ff);
  border-radius: 43px;
}

.form-bg-container {
  background-color: white;
  border-radius: 43px;
  box-shadow: inset 0px -9.84308px 21.0923px #e4d3ff;
}

@media screen and (max-width: 500px) {
  .main-heading {
    font-size: 22px;
  }
}
.input-text {
  font-style: normal;
  height: 57px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #7f70ff;
  outline: none;
}

.input-text::placeholder {
  color: #7f70ff;
}

input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #7f70ff;
  outline: none;
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #7f70ff !important;
  -webkit-text-fill-color: #7f70ff !important;
}
@media screen and (max-width: 500px) {
  .input-text {
    font-size: 14px;
  }
  input {
    height: 22px !important;
  }
}

/* .logo_img{
  height: 493px;
  width: 493px;
} */

.navbar-styles {
  background: #fffeff;
  box-shadow: inset 0px -9.84308px 21.0923px #e4d3ff;
  border-radius: 24px;
}

.even-bg-leader {
  background: rgba(113, 96, 255, 0.16);
  backdrop-filter: blur(10px);
}
